@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./assets/img/background.gif);
    background-size: cover;
    background-position: center;
}

.textos {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 40px 50px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
}

.textos h1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: white;
    text-shadow: 0 1px 1px black;
    transition: 0.2s ease;
}

.textos h1:hover {
    font-size: 35px;
}

.textos p {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: white;
    text-shadow: 0 1px 1px black;
    transition: 0.2s ease;
}

.textos p:hover {
    font-size: 17px;
}

.textos button {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.2s;
}

.textos button:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    width: 100%;
    height: 60px;
    font-size: larger;
    color: white;
}